In [15]:
import numpy as np
import pandas as pd

In [16]:
data=pd.read_csv('D:\VIT 5th sem\Classification of Robots from their conversation sequence.csv')
len(data)

500000

In [17]:
#data = data.iloc[:50000]

In [18]:
data.head(10)

,source,num1,num2,num3,num4,num5,num6,num7,num8,num9,num10
0,0,2,5,2,5,6,2,1,8,1,3
1,1,1747,1749,1751,1758,1765,1767,1772,1774,1783,1785
2,2,65056,195168,1561344,7806720,31226880,187361280,749445120,6745006080,6745006080,6745006080
3,3,2855,2860,2865,2870,2875,2880,2885,2890,2895,2900
4,4,11440,57200,286000,1430000,7150000,35750000,178750000,893750000,4468750000,22343750000
5,0,4,9,5,4,8,6,6,7,7,2
6,1,1487,1491,1498,1503,1512,1514,1518,1522,1524,1528
7,2,18850,18850,113100,452400,452400,1809600,3619200,3619200,7238400,50668800
8,3,8962,8967,8972,8977,8982,8987,8992,8997,9002,9007
9,4,2870,14350,71750,358750,1793750,8968750,44843750,224218750,1121093750,5605468750

In [19]:
from sklearn.neural_network import MLPClassifier # neural network
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [20]:
train, test = train_test_split(data, test_size = 0.3)
trainX = train[["num1","num2","num3","num4","num5","num6","num7","num8","num9","num10"]]
trainY = train.source
testX = test[["num1","num2","num3","num4","num5","num6","num7","num8","num9","num10"]] 
testY = test.source

In [21]:
from sklearn import preprocessing

In [22]:
min_max_scaler = preprocessing.MinMaxScaler()

X_train_minmax = min_max_scaler.fit_transform(trainX)
#Y_train_minmax = min_max_scaler.fit_transform(trainY)

In [23]:
clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(60,), random_state=1,max_iter=800)

In [24]:
clf.fit(X_train_minmax, trainY)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(60,), max_iter=800,
              random_state=1)

In [25]:
X_test_minmax = min_max_scaler.fit_transform(testX)

In [26]:
prediction = clf.predict(X_test_minmax)
print('The accuracy of the Multi-layer Perceptron is:',metrics.accuracy_score(prediction,testY))

The accuracy of the Multi-layer Perceptron is: 0.7967266666666667

In [27]:
prediction[10:30]

array([1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 0, 4, 4, 1, 4, 1],
      dtype=int64)

In [28]:
testY[10:30]

397856    1
308111    1
159133    3
275117    2
421977    2
179986    1
271237    2
325106    1
185702    2
246098    3
499298    3
48253     3
469158    3
460783    3
8060      0
349214    4
270114    4
48146     1
164034    4
103983    3
Name: source, dtype: int64

In [37]:
from sklearn.ensemble import RandomForestClassifier

clf2 = RandomForestClassifier(max_depth=10)
clf2.fit(X_train_minmax, trainY)

RandomForestClassifier(max_depth=10)

In [38]:
X_test_minmax = min_max_scaler.fit_transform(testX)
prediction2 = clf2.predict(X_test_minmax)
print('The accuracy of the Random forest classifier is:',metrics.accuracy_score(prediction2,testY))

The accuracy of the Random forest classifier is: 0.73864